PORT=3000

#------------------
# Base de Datos
#------------------
DB_HOST=localhost
DB_PORT=5432
DB_NAME=sigman
DB_USER=postgres
DB_PASS=yourpassword

#------------------
# JWT
#------------------
JWT_SECRET=change_this_secret_in_production_min_32_chars
JWT_EXPIRES_IN=8h

API_ACTIVOS_URL=https://api.activos.example.com

FRONTEND_ORIGIN=http://localhost:5173

PHOTOS_DIR=./private/photos
